:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --border-color: var(--accent-color, #ff0070);
  --text-shadow-color: var(--accent-color, #ff0070);
  --border-hover-color: #ff007066;
  --title-color: #db00ff;
}

.theme-dark .header__theme-menu-button_type_dark {
  border-color: var(--border-color, #ff0070);
}

.theme-dark .header__theme-menu-button_type_light {
  border: none;
}
