:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --text-shadow-color: var(--accent-color, #ff8dcb);
  --border-hover-color: #32312d66;
  --heading-color: #ffc2e6;
  --section-title-color: #353430;
}

.theme-light .header__theme-menu-button_type_light {
  border-color: var(--border-color, #353430);
}

.theme-light .header__theme-menu-button_type_dark {
  border: none;
}

.theme-light .header__rec-label {
  display: none;
}

.theme-light .decorated-zone::before {
  background-image: url("../images/Rectangle_light\ 77.png");
}

.theme-light .decorated-zone::after {
  background-image: url("../images/Rectangle_light\ 79.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --border-color: #353430;
    --text-shadow-color: var(--accent-color, #ff8dcb);
    --border-hover-color: #32312d66;
    --heading-color: #ffc2e6;
    --section-title-color: #353430;
  }
}
