:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --text-shadow-color: var(--accent-color, #ff8dcb);
  --border-hover-color: #32312d66;
  --title-color: #ffc2e6;
}

.theme-light .header__theme-menu-button_type_light {
  border-color: var(--border-color, #353430);
}

.theme-light .header__theme-menu-button_type_dark {
  border: none;
}

@media (prefers-color-scheme: light) {
}
