.page {
  font-family: var(--main-font, "IBM Plex Mono", monospace);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  background-image: url("../images/Rectangle\ 77.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__rec-label {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color, #ff0070);
  font-weight: var(--font-weight-regular, 400);
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
}

.header__rec-label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  margin-block-start: -4.5px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inset-block-start: 50%;
  inset-inline-start: 100%;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  margin-inline-end: 13px;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--accent-color, #ff0070);
  font-size: var(--main-font-size, 18px);
  text-align: left;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover:not(:disabled) {
  border: 1px solid var(--border-hover-color, #ff007066);
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color, #ff0070);
}

.text-link:hover:not(:disabled) {
  text-decoration: underline solid currentColor;
}

.text-link:focus {
  text-decoration: none;
}

.text-link:focus-visible {
  border: 1px solid currentColor;
}

.header__title,
.footer__title {
  color: var(--title-color, #db00ff);
  font-weight: var(--font-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  justify-self: center;
  align-self: center;
  max-width: 355px;
  margin-block-start: -11px;
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 23.4px);
}

.header__description span {
  display: block;
}

.title-decor {
  display: inline-block;
  color: #000028;
  background-color: var(--accent-color, #ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  background-image: url("../images/Rectangle\ 79.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large, 30px);
  padding-inline: 10px;
  padding-block-start: 40px;
}

.content-section,
.gallery-section__title {
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 23.4px);
}

.content-section__title {
  margin-bottom: 20px;
  color: var(--accent-color, #ff0070);
  font-weight: var(--font-weight-bold, 700);
}

.content-section__card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small, 10px);
}

.content-section__card-title,
.gallery-section__title {
  font-weight: var(--font-weight-bold, 700);
}

.content-section__card-text {
  margin-block-end: 0;
  color: var(--text-color, #f1b2ce);
  font-weight: var(--font-weight-regular, 400);
}

.content-section__card-text:last-child {
  margin-block-end: 20px;
}

.text-link {
  outline: none;
  text-decoration: none;
}

.highlight {
  text-shadow: 2px 2px 0 var(--text-shadow-color, #ff0070);
}

.content-section_thin-titles .content-section__card-title {
  font-weight: var(--font-weight-regular, 400);
}

.content-section_thin-titles .content-section__card-title_bold {
  margin-block-end: 20px;
  font-weight: var(--font-weight-bold, 700);
}

.gallery-section {
  margin-block-end: 9px;
}

.gallery-section,
.gallery-section__gallery {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small, 10px);
}

.gallery-section__image {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding-inline: 4px 10px;
  text-align: center;
  block-size: 100vh;
  min-block-size: 668px;
}

footer.decorated-zone::before {
  right: 0.5px;
}

footer.decorated-zone::after {
  left: 1px;
}
