:root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --main-font-size: 18px;
  --main-font: "IBM Plex Mono", monospace;
  --main-line-height: 1.3;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 60px;
  --text-color: #f1b2ce;
  --border-hover-color: #ff007066;
  --heading-color: #db00ff;
  --section-title-color: #ff0070;
}
